<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <currency>pln</currency>
  <seasonDays>12</seasonDays>
  <machinesValueLow>100000</machinesValueLow>
  <machinesValueBig>250000</machinesValueBig>
  <landSizeLow>25000</landSizeLow>
  <landSizeBig>50000</landSizeBig>
</Settings>